examples/weather-api/weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/weather"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="WeatherService"
  targetNamespace="http://example.com/weather">

  <types>
    <xsd:schema targetNamespace="http://example.com/weather">
      <xsd:element name="GetWeatherRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="city" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetWeatherResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="temperature" type="xsd:float"/>
            <xsd:element name="description" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="GetWeatherInput">
    <part name="parameters" element="tns:GetWeatherRequest"/>
  </message>
  <message name="GetWeatherOutput">
    <part name="parameters" element="tns:GetWeatherResponse"/>
  </message>

  <portType name="WeatherPortType">
    <operation name="GetWeather">
      <input message="tns:GetWeatherInput"/>
      <output message="tns:GetWeatherOutput"/>
    </operation>
  </portType>

  <binding name="WeatherBinding" type="tns:WeatherPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetWeather">
      <soap:operation soapAction="http://example.com/weather/GetWeather"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <service name="WeatherService">
    <port name="WeatherPort" binding="tns:WeatherBinding">
      <soap:address location="http://localhost:8080/weather"/>
    </port>
  </service>

</definitions>
