examples/edge-cases/edge-cases.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/edgecases"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  name="EdgeCaseService"
  targetNamespace="http://example.com/edgecases">

  <types>
    <xsd:schema targetNamespace="http://example.com/edgecases">

      <!-- BUG 1 TEST: Self-referencing type (TreeNode contains TreeNode[]) -->
      <xsd:complexType name="TreeNode">
        <xsd:sequence>
          <xsd:element name="value" type="xsd:string"/>
          <xsd:element name="children" type="tns:TreeNode" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <!-- BUG 3 TEST: Non-conventional element names -->
      <xsd:element name="FetchTreeInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="rootId" type="xsd:string"/>
            <xsd:element name="maxDepth" type="xsd:int" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FetchTreeOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="tree" type="tns:TreeNode"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <!-- BUG 2 TEST: Two ports with same operation name but different shapes -->
      <xsd:element name="AlphaGetInfoInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AlphaGetInfoOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="userName" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

      <xsd:element name="BetaGetInfoInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productId" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BetaGetInfoOutput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="productName" type="xsd:string"/>
            <xsd:element name="price" type="xsd:decimal"/>
            <xsd:element name="inStock" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </types>

  <!-- Messages for GetTree (non-conventional names) -->
  <message name="FetchTreeMsg">
    <part name="parameters" element="tns:FetchTreeInput"/>
  </message>
  <message name="FetchTreeResponseMsg">
    <part name="parameters" element="tns:FetchTreeOutput"/>
  </message>

  <!-- Messages for AlphaPort.GetInfo -->
  <message name="AlphaGetInfoMsg">
    <part name="parameters" element="tns:AlphaGetInfoInput"/>
  </message>
  <message name="AlphaGetInfoResponseMsg">
    <part name="parameters" element="tns:AlphaGetInfoOutput"/>
  </message>

  <!-- Messages for BetaPort.GetInfo -->
  <message name="BetaGetInfoMsg">
    <part name="parameters" element="tns:BetaGetInfoInput"/>
  </message>
  <message name="BetaGetInfoResponseMsg">
    <part name="parameters" element="tns:BetaGetInfoOutput"/>
  </message>

  <!-- PortType with GetTree (tests bug 1 + bug 3) -->
  <portType name="TreePortType">
    <operation name="GetTree">
      <input message="tns:FetchTreeMsg"/>
      <output message="tns:FetchTreeResponseMsg"/>
    </operation>
  </portType>

  <!-- PortType Alpha with GetInfo (tests bug 2) -->
  <portType name="AlphaPortType">
    <operation name="GetInfo">
      <input message="tns:AlphaGetInfoMsg"/>
      <output message="tns:AlphaGetInfoResponseMsg"/>
    </operation>
  </portType>

  <!-- PortType Beta with same GetInfo name but different shape (tests bug 2) -->
  <portType name="BetaPortType">
    <operation name="GetInfo">
      <input message="tns:BetaGetInfoMsg"/>
      <output message="tns:BetaGetInfoResponseMsg"/>
    </operation>
  </portType>

  <!-- Bindings -->
  <binding name="TreeBinding" type="tns:TreePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetTree">
      <soap:operation soapAction="http://example.com/edgecases/GetTree"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <binding name="AlphaBinding" type="tns:AlphaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="http://example.com/edgecases/AlphaGetInfo"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <binding name="BetaBinding" type="tns:BetaPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetInfo">
      <soap:operation soapAction="http://example.com/edgecases/BetaGetInfo"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>

  <!-- Service with all three ports -->
  <service name="EdgeCaseService">
    <port name="TreePort" binding="tns:TreeBinding">
      <soap:address location="http://localhost:8080/tree"/>
    </port>
    <port name="AlphaPort" binding="tns:AlphaBinding">
      <soap:address location="http://localhost:8080/alpha"/>
    </port>
    <port name="BetaPort" binding="tns:BetaBinding">
      <soap:address location="http://localhost:8080/beta"/>
    </port>
  </service>

</definitions>
